{% extends 'base.html' %}
{% block title %} Vista Previa PDF {% endblock %}

{% block content %}
<div class="container py-4 mt-5">
    <h2 class="text-center mb-4">Reporte de productos Sistetema de inventario</h2>
    
    <div class="mb-3 text-end">
        <a href="{% url 'descargar_pdf_productos' %}" class="btn btn-danger">
            <i class="bi bi-file-earmark-pdf"></i> Descargar PDF
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="table-light">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.marca }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.precio }} Bs</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
